*.pyc
.VSCodeCounter/
**/.ipynb_checkpoints/*
build/
dist/
.vscode/
*.so
.ninja_deps
.ninja_log
build.ninja
CMakeCache.txt
CMakeInit.txt
*.cmake
**/CMakeFiles/
src/xinsight.egg-info/
.venv/
.coverage
.pytest_cache/
.ruff_cache/
site/
src/UNKNOWN.egg-info/
src/blueprinting/__about__.py
.env/
